2. Kaggle1_toddler_QCHAT_preporicessing
The Toddler Kaggle Dataset (QCHAT with additional features) served as the primary input. ASD-specific terms were mapped onto the existing features to create an enhanced dataset tailored for deep learning classification model development


- Soo Kyung Bae(Scarlett), Ph.D. Student
- Dept. of Integrated Medicine(Major in Digital Healthcare)
- Yonsei University College of Medicine

In [1]:
# 1. 라이브러리 불러오기 및 데이터 불러오기: Toddler Autism dataset July 2018.csv

In [1]:
# 라이브러리 불러오기

import pandas as pd
import matplotlib.pyplot as plt
import os

In [2]:
# 데이터 불러오기: Toddler Autism dataset July 2018.csv

T_ASD= pd.read_csv('./CH_input/QCHAT_dataset.csv')
T_ASD = T_ASD[['Class/ASD Traits', 'A1', 'A2', 'A3', 'A4', 'A5', 'A6', 'A7', 'A8', 'A9', 'A10']]
T_ASD = T_ASD.fillna(1)
print("Dataset siez: ", len(T_ASD))
T_ASD.head()

Dataset siez:  154

   Class/ASD Traits  A1   A2  A3  A4  A5  A6  A7  A8   A9  A10
0                 0   0  0.0   0   0   0   0   0   0  0.0  0.0
1                 0   0  0.0   0   0   0   0   0   0  0.0  0.0
2                 0   0  0.0   0   0   0   0   0   0  0.0  0.0
3                 0   0  0.0   0   0   0   0   0   0  0.0  0.0
4                 0   0  0.0   0   0   0   0   0   0  0.0  0.0

"""
A1-A10: Items within Q-Chat-10  in which questions possible answers : 
“Always, Usually, Sometimes, Rarly & Never” items’ values are mapped to “1” or “0” in the dataset. 

For questions 1-9 (A1-A9) in Q-chat-10,  if the respose was  Sometimes / Rarly / Never “1” is assigned to the question (A1-A9). 
However, for question 10 (A10), if the respose was Always / Usually / Sometimes then “1” is assigned to that question. 
If the user obtained More than 3 Add points together for all ten questions. 
If your child scores more than 3 (Q-chat-10- score) then there is a potential ASD traits otherwise no ASD traits are observed.


"""

In [4]:
# 2. 각 증상에 대한 데이터 텍스트로 전환

In [3]:
T_ASD['A1_C2977673']=['attention and concentration deficit' if x ==1 else '' for x in T_ASD['A1']]
T_ASD['A2_C0870532']=['contacts eye' if x ==1 else '' for x in T_ASD['A2']]
T_ASD['A3_C4036288']=['spontaneously pointing' if x ==1 else '' for x in T_ASD['A3']]
T_ASD['A4_C0424091']=['pointing to express interest' if x ==1 else '' for x in T_ASD['A4']]
T_ASD['A5_C2371970']=['does pretend play' if x ==1 else '' for x in T_ASD['A5']]
T_ASD['A6_C2370875']=['shifting attention' if x ==1 else '' for x in T_ASD['A6']]
T_ASD['A7_C4064035']=['social interaction impairment in social/emotional reciprocity' if x ==1 else '' for x in T_ASD['A7']]
T_ASD['A8_C1854882']=['absent speech' if x ==1 else '' for x in T_ASD['A8']]
T_ASD['A9_C0566243']=['difficulty imitating gesture' if x ==1 else '' for x in T_ASD['A9']]
T_ASD['A10_C4064319']=['play impairment stares blankly at play objects rather than manipulating them' if x ==1 else '' for x in T_ASD['A10']]
T_ASD.head()

,Class/ASD Traits,A1,A2,A3,A4,A5,A6,A7,A8,A9,...,A1_C2977673,A2_C0870532,A3_C4036288,A4_C0424091,A5_C2371970,A6_C2370875,A7_C4064035,A8_C1854882,A9_C0566243,A10_C4064319
0,0,0,0.0,0,0,0,0,0,0,0.0,...,,,,,,,,,,
1,0,0,0.0,0,0,0,0,0,0,0.0,...,,,,,,,,,,
2,0,0,0.0,0,0,0,0,0,0,0.0,...,,,,,,,,,,
3,0,0,0.0,0,0,0,0,0,0,0.0,...,,,,,,,,,,
4,0,0,0.0,0,0,0,0,0,0,0.0,...,,,,,,,,,,

In [17]:
# 3. 텍스트로 전환된 데이터 한 칼럼으로 combine

In [4]:
T_ASD['text']=T_ASD[[T_ASD.columns[11],T_ASD.columns[12],T_ASD.columns[13],\
                         T_ASD.columns[14],T_ASD.columns[15],T_ASD.columns[16],\
                        T_ASD.columns[17],T_ASD.columns[18],T_ASD.columns[19],\
                        T_ASD.columns[20]]].apply(lambda x: " ,".join(x), axis =1)
print(T_ASD['Class/ASD Traits'].value_counts())
T_ASD[['A1_C2977673', 'A2_C0870532','text']]

Class/ASD Traits
1    110
0     44
Name: count, dtype: int64

,A1_C2977673,A2_C0870532,text
0,,,", , , , , , , , ,"
1,,,", , , , , , , , ,"
2,,,", , , , , , , , ,"
3,,,", , , , , , , , ,"
4,,,", , , , , , , , ,"
...,...,...,...
149,attention and concentration deficit,contacts eye,"attention and concentration deficit ,contacts ..."
150,attention and concentration deficit,contacts eye,"attention and concentration deficit ,contacts ..."
151,,,", , , ,does pretend play , ,social interactio..."
152,,contacts eye,",contacts eye , , , , ,social interaction imp..."
153,,,", , , , , , , , ,"

In [8]:
# 4. csv 파일로 출력

In [5]:
T_ASD.to_csv('./output/QCHAT_T_ASD_total_First.csv', header=True, index=False)